body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow: hidden;
}
.root {
  position: absolute;
  width: 100%;
  height: 100%;
}
.child {
  position: absolute;
  max-height: 30%;
  border-radius: 4px;
}
.circle {
  position: fixed;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(208, 5, 86, 0.3);
  transform: translate(-50%, -50%);
  z-index: 99;
}
.cap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* animation-name: example;
  animation-duration: 2s; */
  line-height: 1vw;
  z-index: 999;
}
h3 {
  color: #ffa62b;
  font-family: "Ms Madi", cursive;
  font-size: 10vw;
  text-shadow: 5px 5px 15px #000;
}
h5 {
  color: #db222a;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 5.5vw;
  text-shadow: 5px 5px 15px #000;
}
@keyframes example {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .root {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1200px) {
  .child {
    position: absolute;
    max-height: 20%;
    border-radius: 4px;
  }
}
